@import 'tailwindcss';
@import 'tw-animate-css';

@theme inline {
  --font-sans: var(--font-pretendard), ui-sans-serif, system-ui, sans-serif;

  /* Font Scale */
  --text-xs: 12px;
  --text-xs--line-height: 16px;
  --text-sm: 14px;
  --text-sm--line-height: 20px;
  --text-base: 16px;
  --text-base--line-height: 24px;
  --text-lg: 18px;
  --text-lg--line-height: 28px;
  --text-xl: 20px;
  --text-xl--line-height: 30px;
  --text-2xl: 24px;
  --text-2xl--line-height: 32px;
  --text-3xl: 30px;
  --text-3xl--line-height: 36px;

  --color-blue-50: #edf4fb;
  --color-blue-100: #d8e7fa;
  --color-blue-200: #b6d6f8;
  --color-blue-300: #8dbff6;
  --color-blue-400: #6ba6f0;
  --color-blue-500: #498cf8;
  --color-blue-600: #3272d9;
  --color-blue-700: #245ab8;
  --color-blue-800: #1e4694;
  --color-blue-900: #193670;

  --color-gray-50: #fcfcfd;
  --color-gray-100: #f9fafa;
  --color-gray-200: #f2f3f5;
  --color-gray-300: #dbdee5;
  --color-gray-400: #acb3c3;
  --color-gray-500: #868d9d;
  --color-gray-600: #646d7b;
  --color-gray-700: #4d545c;
  --color-gray-800: #2b323a;
  --color-gray-900: #0f141b;

  --color-red: #ff3e34;

  --breakpoint-sm: 375px;
  --breakpoint-md: 744px;
  --breakpoint-lg: 1280px;
}

@layer base {
  * {
    @apply box-border;
  }
  body {
    @apply bg-gray-100 text-base font-normal text-gray-800;
  }
}

@utility no-scrollbar {
  /* Chrome, Safari, Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* IE, Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}
