@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-pretendard), ui-sans-serif, system-ui, sans-serif;

  /* Font Scale */
  --text-xs: 12px;
  --text-xs--line-height: 16px;
  --text-sm: 14px;
  --text-sm--line-height: 20px;
  --text-base: 16px;
  --text-base--line-height: 24px;
  --text-lg: 18px;
  --text-lg--line-height: 28px;
  --text-xl: 20px;
  --text-xl--line-height: 30px;
  --text-2xl: 24px;
  --text-2xl--line-height: 32px;
  --text-3xl: 30px;
  --text-3xl--line-height: 36px;

  --color-main: #498cf8; /* Main Color */
  --color-main-from: #498cf8; /* Gradient from */
  --color-main-to: #003c9d; /* Gradient to */
  --color-sub: #edf4fb; /* Sub Color */

  --color-bg-base: #fafafa; /* Background */
  --color-bg-input: #f9fafb; /* Input Field */
  --color-bg-disabled: #eeeeee; /* Inactivated Button */

  --color-text-base: #111827; /* Default Font */
  --color-text-input: #737373; /* Font in the input field */
  --color-text-disabled: #a4a4a4; /* Font in the Inactivated Button */

  --color-danger: #ff5f57; /* Required Field */

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover-border: var(--popover-border);
  --color-radio-border: var(--radio-border);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --background: #fafafa;
  --foreground: #1f2937;
  --popover: #ffffff;
  --popover-foreground: #1f2937;
  --popover-border: #e5e7eb;
  --primary: #498cf8;
  --primary-foreground: #ffffff;
  --secondary: #edf4fb;
  --secondary-foreground: #1f2937;
  --muted: #eaeaea;
  --muted-foreground: #737373;
  --accent: #edf4fb;
  --accent-foreground: #245ab8;
  --destructive: #ff5f57;
  --border: #498cf8;
  --input: #edf4fb;
  --ring: #498cf8;
  --radio-border: #dddddd;

  --blue-50: #edf4fb;
  --blue-100: #d8e7fa;
  --blue-200: #b6d6f8;
  --blue-300: #8dbff6;
  --blue-400: #6ba6f0;
  --blue-500: #498cf8;
  --blue-600: #3272d9;
  --blue-700: #245ab8;
  --blue-800: #1e4694;
  --blue-800: #193670;

  --gray-50: #fcfcfd;
  --gray-100: #f9fafa;
  --gray-200: #f0f1f2;
  --gray-300: #d2d7e5;
  --gray-400: #acb3c3;
  --gray-500: #868d9d;
  --gray-600: #646d7b;
  --gray-700: #4d545c;
  --gray-800: #2b323a;
  --gray-900: #0f141b;

  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50 box-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@utility no-scrollbar {
  /* Chrome, Safari, Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* IE, Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}
